<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}My Application
			{% endblock %}
		</title>
	</head>
	<body>

		<nav>
			<a href="/">Home</a>
			<a href="{{ url_for('create_person', {},) }}">Create New Person</a>
			<a href="{{ url_for('create_departement', {},) }}">Create New Departement</a>
			<a href="{{ url_for('create_service', {},) }}">Create New Service</a>
			<a href="{{ url_for('view_entree', {},) }}">View Entree</a>


		</nav>

		{% block content %}{% endblock %}

		<footer>
			<p>&copy; Nino Arcelin / Victor Georges / Nicka Ratovobodo /Dimitri Walczak-Vela-Mena</p>
			<p>RA-DWM 2023-2024</p>
		</footer>

	</body>
</html>
