<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Application{% endblock %}</title>
</head>
<body>


{% block content %} Ça marche ! {% endblock %}

<footer>
    <p>&copy; Nino Arcelin / Victor Georges / Nicka Ratovobodo /Dimitri Walczak-Vela-Mena</p>
    <p>RA-DWM 2023-2024</p>
</footer>

</body>
</html>