{% extends 'base.html.twig' %}

{% block title %}Créer un département
{% endblock %}

{% block content %}
	<link rel="stylesheet" href="/{{ globals.css_dir }}/form.css">


	<div class="container">

        <h1 class="title" >Créer un département</h1>
        <h2 class="description">Ajouter un nouveau département dans l'annuaire</h2>
        <h3 class="optional-field">Les champs obligatoires sont marqués d'un astérisque(*).<h3>
		<form method="post">
			<div>
				<label for="libelle">Libelle*</label>
				<input type="text" id="libelle" name="libelle" required>
			</div>
			<div>
				<label for="description">Description*</label>
				<input type="text" id="description" name="description" required>
			</div>

			<div>
				<label for="etage">Numéro*</label>
				<input type="number" id="etage" name="etage" required>
			</div>

			<div class = "form-group">
				<button type="submit">Ajouter le département</button>
				{% if message %}
					<div class="message">
						<span>{{ message }}</span>
					</div>
				{% endif %}
			</div>
			<input type="hidden" name="csrf_token" value="{{ csrf_token }}">
		</form>
	</div>

{% endblock %}
