{% extends 'base.html.twig' %}

{% block title %}Créer un admin
{% endblock %}

{% block content %}
	<link rel="stylesheet" href="/{{ globals.css_dir }}/form.css">
<h1 class="title">Inscription d'un nouvel administrateur</h1>
<h2 class="description">Ajouter un nouvel administrateur, il pourra créer des services, des départements et des entrées dans l'annuaire.</h2>
<h3 class="optional-field">Les champs obligatoires sont marqués d'un astérisque(*).</h3>
	<form method="post">
		<div>
			<label for="email">E-Mail</label>
			<input type="mail" id="email" name="email" required>
		</div>
		<div>
			<label for="password1">Mot de passe</label>
			<input type="password" id="password1" name="password1" required>
		</div>

		<div>
			<label for="password2">Confirmation du mot de passe</label>
			<input type="password" id="password2" name="password2" required>
		</div>

		<input type="hidden" name="csrf" value="{{ csrf }}">

		<div class="form-group">
			<button type="submit">Inscription</button>
            <div class="message">
                <span>
                    {% if error_message is defined %}
                        {{error_message}}
                    {% endif %}
                </span>
            </div>
        </div>
</form>{% endblock %}
