body {
  background-color: #eff0f3;
  color: #2a2a2a;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

  .container {
    display: flex;
    height: 100vh;
    align-items: stretch;
  }

  .sidebar {
    width: 250px;
    background-color: #fffffe;
    padding: 20px;
    margin: 10px;
    border: 3px solid #0d0d0d;
    border-radius: 12px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .copyright{
    font-size: 10px;
    text-align: center;
  }

  

  .main {
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: #fffffe;
    border-radius: 10px;
    border: 3px solid #0d0d0d;
  }

  .overflowDiv{
    padding: 5px 5px 15px 5px;
    overflow: scroll;
    overflow-x: hidden;
    max-height: 80%;
    width: 100%;
  }

  

  ::-webkit-scrollbar-track
  {
  	border-radius: 10px;
  	background-color: #fffffe;
  }

  ::-webkit-scrollbar
  {
    display: none;
    width: 5px;
  	width: 12px;
  	background-color: #fffffe;
  }

  ::-webkit-scrollbar-thumb
  {
  	border-radius: 10px;
  	background-color: #b8c1ec;
  }

.employee-details-card {
  position: relative;
  background-color: transparent;
  border-radius: 8px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailUser{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-bottom: 1px solid #0d0d0d;
}

.detailUser2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 5px;
  padding-bottom: 10px;
  margin: 5px 0 5px 0;
  width: 225px;
}

.employee-details-card h3{
  margin: 0;
}

.employee-details-card p{
  margin: 5px 0 5px 0;
}

.overflowDivDetails{
  position: relative;
  background-color: #eff0f3;
  border-radius: 8px;
  height: 100%;
  box-shadow: 0 4px 8px #30363d5a;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}


  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: static;
    
  }

  .dataUsers{
    display: flex;
    flex-direction: row;
    max-height: 80%;
    justify-content: center;
  }


  .logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }


  .search {
    display: flex;
    align-items: center;
    width: 45%;
  }

  .search input {
    padding: 8px;
    border: none;
    background-color: #b8c1ec;
    border-radius: 4px 0 0 4px;
    width: 100%;
    margin-left: 20px;
    border-right: 1px solid #0d0d0d;
  }

  ::placeholder {
    color: #fffffe;
  }

  .search button {
    padding: 8px 12px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .employee-card {
    background-color: #eff0f3;
    border-radius: 8px;
    box-shadow: 0 4px 8px #30363d5a;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }

  .infoUser{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    margin: 10px 0 10px 0;
    width: 200px;
  }

  .infoUser span {
    width: 200px; 
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    display: block;
}

  .employee-card img {
    width: 122.5px;
    height: 156.5px;
    border-radius: 20%;
    margin: 0 0 30px 0 ;
    object-fit: cover;
  }

  .img{
    width: 50%;
    height: 50%;
    border-radius: 20%;
    margin: 30px 0 30px 0 ;
    object-fit: cover;
  }

  .employee-card h3 {
    margin: 0;
  }

  .employee-card p {
    margin:   10px 0  10px 0;
  }

  .employee-card .social {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .employee-card .social a {
    margin: 0 5px;
    color: white;
    text-decoration: none;
  }

  .employee-card .social a i {
    font-size: 18px;
    color: #007bff;
  }

  .employee-card .edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #aaa;
    cursor: pointer;
  }

  .employee-card .edit-icon:hover {
    color: white;
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    max-height: 400px;
    overflow: scroll;
  }


  .sidebar li{
    color: #2a2a2a;
    padding: 10px 0 10px 10px;
    border-bottom: 1px solid #0d0d0d;
    cursor: pointer;
  }

  .sidebar .active {
    background-color: #b8c1ec;
    border-radius: 4px;
  }

  .sidebar .active a {
    font-weight: bold;
  }

  .sidebar .upgrade-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }

  .sidebar .upgrade-button:hover {
    background-color: #0069d9;
  }

  .employee-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    width: 100%;
    justify-items: center;
    align-items: center; 
}

.employee-details{
  width: 0;
}

.employee-details img {
  width: 145px;
  height: 35%;
  border-radius: 12%;
  margin: 10px 0 20px 0 ;
  object-fit: cover;
}


.details-visible .overflowDivDetails {
  min-width: 290px;
  min-height: 71.5vh;
  max-height: 521px;
  margin: 5px 0 5px 16px;
}

.details-visible .employee-details {
  width: 290px;
  height: 100%;
}

.details-visible .employee-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  justify-items: center;
  align-items: center; 
}




.employee-grid .employee-card {
    width: 90%;
    min-width: 245px;
    height: 90%;
    min-height: 313.49px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


  .main .employee-grid .employee-card .edit-icon {
    display: none;
  }

  .main .employee-grid .employee-card .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .main .employee-grid .employee-card .details .mobile {
    font-size: 14px;
    color: #aaa;
  }

  .main .employee-grid .employee-card .details .salary {
    display: flex;
    align-items: center;
  }

  .main .employee-grid .employee-card .details .salary .amount {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }

  .main .employee-grid .employee-card .details .salary .status {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
  }

  .main .employee-grid .employee-card .details .salary .status.pending {
    background-color: #ffc107;
  }

  .main .employee-grid .employee-card .bio {
    margin-top: 10px;
  }

  @media screen and (max-width: 1325px) {
    .employee-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
    .details-visible .employee-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 1055px) {
    .employee-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
    .details-visible .employee-grid {
      grid-template-columns: repeat(1, 1fr);
    }
    
  }