.search-bar{
    display: flex;
    justify-content: flex-start;

    div{
        margin-top: 15px;
        margin-right:15px;
    
        select{
            background-color: rgb(33, 38, 45);
            padding: 8px;
            color: rgb(200, 208, 216);
            border: 1px solid rgb(48, 54, 61);
            border-radius: 8px;
            font-size: 0.8em;
        }

        button{
            background-color: rgb(0, 98, 183);
            padding: 8px;
            color: #fff;
            border: 1px solid rgb(0, 98, 183);
            border-radius: 8px;
            margin-left: 5px;
            margin-bottom: 10px;
            font-size: 0.8em;
            font-weight:600;
        }

        button:hover{
            background-color: rgb(0, 119, 223);
        }
    }
}

.main-container-tab {
    position: absolute;
    top: 53.5%;              /* Position verticale à 25% de la hauteur de la vue */
    left: 50%;              /* Position horizontale au milieu de la vue */
    transform: translate(-50%, -50%); /* Déplace l'élément de la moitié de sa propre largeur et hauteur */
    /* Vos autres styles */
}

.main-part {
    padding: 20px;
    width: 85vw;
    border: none;

}

.table-container {
    position: relative;
   
    overflow-y: auto;
    max-height: 70vh; /* Ajuster la hauteur maximale selon vos besoins */
}

table {
    width: 100%;
    border-collapse: collapse;
    overflow-y: auto;
    table-layout: auto; /* Ajuster la largeur des colonnes en fonction du contenu */
}

th, td {
    border: 1px solid rgb(48, 54, 61);
    padding: 8px;
    width: auto; /* Ajuster la largeur des cellules en fonction du contenu */
    font-size: 0.9em;
    white-space: nowrap; /* Empêche le texte de se retourner */
    overflow: hidden; /* Masque le texte qui dépasse */
    text-overflow: ellipsis; /* Affiche des points de suspension en cas de dépassement */
}

th {
    background-color: rgb(22, 27, 34);
    text-align: left;
    position: sticky;
    top: 0;
    z-index: 2;
}

td ul {
    list-style-type: circle;
    padding: 0;
    margin: 0;
}

td ul li {
    margin-bottom: 6px;
    margin-left: 15px;
    font-size: 0.85em;
    font-weight: 100;
}

td ul li b {
    font-weight: 700;
}

.delete_button_cell {
    border: none;
    background-color: transparent;
    opacity: 1;
}

.delete_button {
    width: 30px;
}

.image_profile {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}

.no_file {
    width: 20px;
}

#image-container > div {
    display: flex;
    justify-content: center;
}

.grayed-out {
    background-color: rgb(48, 54, 61); /* Couleur de fond grisée */
    opacity: 0.6; /* Réduire l'opacité pour un effet de grisage */
}

img:hover {
    cursor: grab;
    box-shadow: 3px red;
}

td > form > button {
    background-color: transparent;
    border: none;
}

td > form {
    background-color: rgb(13, 17, 23);
}

/* view_entree.css */

.image_profile {
    height: 140px;
    width: 140px;
    object-fit: cover;
    border-radius: 12px;
}

.no_file {
    width: 20px;
}

.image-container > div {
    display: flex;
    justify-content: center;
}


footer{
    display: none;
}